.search {
    height: 5%;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.side_panel {
    height: 100%;
    background-color: white;
    width: 30%;
    min-width: 10%;
    max-width: 30%;
}

.chats {
    display: flex;
    flex-direction: column;

    height: 95%;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
}

.chat {
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.chat_img {
    width: 48px;
    height:48px;
    border-radius: 50%;
    object-fit: cover;
}

.chat_content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex-grow: 1;
    overflow: hidden;
    text-decoration:none;
}

.chat_content + .chat_content { 
    text-align: end;
}
