.search {
    height: 5%;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.side_panel {
    height: 100%;
    background-color: white;
    width: 30%;
    min-width: 10%;
    max-width: 30%;
}

.chats {
    display: flex;
    flex-direction: column;
    padding: 0 0.5em;
    height: 95%;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
}

.chat {
    border-radius: 20px;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

/* for chat */
.active, .active *{
    background-color: #3390EC;
    color: white !important;
    pointer-events: none;
}

.chat:hover {
    background-color: #F5F5F5;
    transition: background 200ms ease-in-out;
}

.chat_open_link {
    color: inherit;
    text-decoration: inherit;
}

.chat_img {
    width: 48px;
    height:48px;
    border-radius: 50%;
    object-fit: cover;
}

.chat_content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5em;
    overflow: hidden;
    text-decoration:none;
}

.chat_center {
    flex-grow: 2;
    font-size: 1rem;
    font-weight: 700;
}

.chat_center :nth-child(2) {
    font-size: 0.9rem;
    color: #707991;
}

.chat_end { 
    align-items: flex-end;
    font-size: 0.75rem;
    flex-grow: 1;
}

.chat_end :first-child {
    color: #707991;
}

.chat_end :nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    border-radius: 50%;
    background-color: #78E378;
    color: white;
    padding: 0.35em;   
}
