.search {
    height: 5%;
    background-color: violet;
    display: flex;
    align-items: center;
}

.side_panel {
    height: 100%;
    background-color: white;
    width: 30%;
    min-width: 10%;
    max-width: 30%;
}

.chats {
    display: flex;
    flex-direction: column;

    height: 95%;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
}

.back_button {
    transform: translateX(45deg);
    transition: transform 1s ease-in-out;
}

/* .chats:hover {
    overflow-y: auto;
} */
