.home {
    height: 100%;
    display: flex;
    background-image: url(/public/imgs/telegram_background.png);
}

/* customization of scroll bar */
.bar_back::-webkit-scrollbar {
    width: 5px;
}

.bar_thumb::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 3px solid #C4C9CC;
}

.border {
    height: 100%;
    width: 2px;
    cursor: col-resize;
}


