.popup {
    position: relative;
}

.butt {
    width: 1.5em;
    cursor: pointer;
    margin-left: 1em;
}

.butt:hover {
    transition: all 200ms ease-in-out;
    border-radius: 50%;
    background: rgba(128, 130, 131, 0.2);
}

.content {
    margin-left: 1em;
    border-radius: 10px;
    position: absolute;
    top: calc(100% + 0.25rem);
    left: 0;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    pointer-events: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
}

.element {
    border-radius: 5px;
    background-color: white;
    display: flex;
    gap: 1em;
    padding: 0.75em;
    font-size: 1.20rem;
    font-family: sans-serif;
}

.element:hover {
    transition: background-color 150ms ease-in-out;
    background-color: #F4F4F4;
}

.active {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
    z-index: 1001;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}


