.messages_panel {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#msgs_wrapper {
    height:85%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y: auto;
}

.msgs {
    height: 100%;
    background: none;
    width: 50%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.3em;
}

.msgs > :first-child {
    margin-top: auto !important;
}

.msg {
    background-color: white;
    border-radius: 10px;
    padding: 0.7em;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.username {
    color: #4578EE;
}

.owner_msg {
    align-self: flex-end;
}

.others_msg {
    align-self: flex-start;
}

.notification {
    border-radius: 10px;
    align-self: center;
    padding: 0.4em;
    background-color: rgba(193, 199, 199, 0.5);
}


